

h2 {
    color: red;
}

p {
    color: pink;    
}

p {
    color: green;
}

.course {
    margin: 0 auto;
    
    
    width: 80%;
    padding: 50px;
    
    
    background-color: #FFCC00;
}

.row {
    display: flex;
}

.col {
    background-color: aqua;
    border: 2px solid black;
    flex-basis: 40%;
}