

h2 {
    color: red;
}

p {
    color: pink;    
}

p {
    color: green;
}

.course {
    margin: 0 auto;
    
    
    width: 80%;
    padding: 50px;   
    
    background-color: #FFCC00;
}

.row {
    display: block;
    /* display: inline-block; */
    flex-direction: column;
}

.col {
    background-color: aqua;
    border: 2px solid black;
    width: 33%;
}

.london {
    background-color: black;
    display: flex;
    width: 700px;
    color: white;
    padding: 20px;
}