

h2 {
    color: red;
}

p {
    color: pink;    
}

p {
    color: green;
}

div {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    background-color: #FFCC00;
}